.icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons-container svg {
    margin: 0 5%;
}

.complete {
    color: lightgreen;
    transition: all 300ms ease-in-out;
}

.not-complete {
    color: lightcoral;
    transition: all 300ms ease-in-out;
}