{
  "parser": "babel-eslint",
  "extends": [
    "wesbos"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "no-nested-ternary": 0,
    "camelcase": 0,
    "no-console": 2,
    "react/display-name": 0
  },
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
