.todo-search {
  width: 100%;
  box-shadow: inset 0 0 4px black;
  border-radius: 0;
  height: 0px;
}

.todo-item {
  display: flex;
  position: relative;
  cursor: pointer;
  background: white;
  padding: 10px 10px 12px 10px;
  border-radius: 4px;
  margin: 0 0 10px 0;
  text-align: left;
  box-shadow: 0px 0px 4px rgb(129, 129, 129);
  transition: box-shadow 0.2s ease, color 0.2s ease;
}

.todo-item:hover .date {
  color: gray;
}

.todo-title {
  font-weight: normal;
  font-size: 24px;
  margin: 0px;
}

.date {
  position: absolute;
  top: -10px;
  right: 5px;
  color: transparent;
  font-size: 11px;
  transition: color 0.2s ease;
}

.completed {
  box-shadow: 0px 0px 3px #2ecc71;
  color: #2ecc71;
  /* border: 1px solid #76cc9a73; */
}

form{
  display: flex;
  justify-content: flex-start;
}

input {
  height: 42px;
  font-size: 18px;
  padding: 0 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  /* border: 1px solid rgb(161, 161, 161); */
  border: none;
  width: 60%;
}

form button:nth-of-type(1) {
  width: 20%;
  font-size: 18px;
  /* font-weight: bold; */
  background: #2ecc71;
  color: white;
  outline: none;
  border: none;
  /* border-top: 1px solid rgb(161, 161, 161);
  border-bottom: 1px solid rgb(161, 161, 161);
  border-right: 1px solid rgb(161, 161, 161); */
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

form button:nth-of-type(1):hover {
  background: #4fd185;
}

form button:nth-of-type(2) {
  font-size: 18px;
  width: 20%;
  /* font-weight: bold; */
  background: #c0392b;
  color: white;
  outline: none;
  border: none;
  /* border-top: 1px solid rgb(161, 161, 161);
  border-bottom: 1px solid rgb(161, 161, 161);
  border-right: 1px solid rgb(161, 161, 161); */
  text-decoration: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

form button:nth-of-type(2):hover {
  background: #e74c3c;
}