.appDiv {
	width: 70%;
	text-align: left;
	margin: 0 auto;
	padding: 1%;
	background: rgba(17, 29, 204, 0.1);
	border-radius: 5%;
	border: groove 5px rgb(226, 28, 28);
}

.notes {
	padding-top: 6px;
	padding-left: 56px;
	padding-right: 16px;
	line-height: 22px;
	font-size: 19px;
	letter-spacing: 1px;
	word-spacing: 5px;
}

h3 {
	text-align: center;
}

h1 {
	text-align: center;
	margin-top: -2%;
	padding: 1%;
}

ol {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 95%;
	margin: 0 auto;
}

li {
	margin: 0.5% 2%;
}

.item.completed {
	text-decoration: line-through wavy 3px black;
}

.form1 {
	display: flex;
	width: 50%;
	margin-left: 34%;
}
.form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

.btn1 {
	width: 50%;
	margin: 2% auto;
}

.btn2 {
	width: 20%;
	margin: 0 auto;
}
