.main {
  display: flex;
  flex-direction: row;
  border-top: 2px solid gray;
  height: 50vh;
}

.wide-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 1vw;
  padding: 1%;
  margin-top: 1vw;
  height: 100;
  width: 20%;
}
.narrow-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid gray;
  border-radius: 1vw;
  padding: 1%;
  margin-top: 1vw;
  height: 100;
}

.container {
  height: 100%;
  width: 100%;
}

.ham {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* background: lightseagreen; */
}

.wide-sidebar img {
  width: 3vw;
}
.narrow-sidebar img {
  width: 3vw;
}

.navlinks {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background: magenta; */
}

.navlink a {
  display: flex;
  align-items: center;
}

.navlink img {
  margin-right: 1vw;
}
