body {
  background: lightcyan;
  font-family: "Hujan","Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  font-size: 1rem;
  color: rgb(164, 54, 42);
  background: rgb(255, 247, 244);
  border-radius: 5vw;
  border: 0.1px solid rgb(168, 87, 78);
  padding: 2vw 8vw;
  cursor: pointer;
  font-family: "Hujan";
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width:100%;
  color: rgb(0,75,75)
}

::placeholder {
    color:rgba(114, 133, 133, 0.749);
    font-size: .8rem;
  }

/* 
@media(min-width: 400px){

}
@media(min-width: 600px){

}
@media(min-width: 800px){

}
@media(min-width: 1000px){

}
@media(min-width: 1200px){

} */

@font-face {
    font-family: 'Hujan';
    src: url('../fonts/Hujan/Hujan.eot');
    src: url('../fonts/Hujan/Hujan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hujan/Hujan.woff2') format('woff2'),
        url('../fonts/Hujan/Hujan.woff') format('woff'),
        url('../fonts/Hujan/Hujan.ttf') format('truetype'),
        url('../fonts/Hujan/Hujan.svg#Hujan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hujan';
    src: url('../fonts/Hujan/Hujan_1.eot');
    src: url('../fonts/Hujan/Hujan_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hujan/Hujan_1.woff2') format('woff2'),
        url('../fonts/Hujan/Hujan_1.woff') format('woff'),
        url('../fonts/Hujan/Hujan_1.ttf') format('truetype'),
        url('../fonts/Hujan/Hujan_1.svg#Hujan') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

