.landing-outer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 50vh;
    /* background-color: blue; */
}

.landing-signup {
    /* background: green; */
    width: 100%;

}
