.landing-outer {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.title {
    text-align: center;
}

.title2 {
    font-family: Hug Me Tight;
    font-size: 2.5rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.385);
    color: rgb(164, 54, 42);
}

.already-signedup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.already-signedup p {
    font-size: 1.5rem;
    padding-top: 5vh;
}

.already-signedup button {
    background: none;
}

.landing-signup {
    /* background: green; */
    width: 100%;
}

/* @media(min-width: 400px){
    .landing-outer {
        width: 70vw;
    }
}
@media(min-width: 600px){
    .landing-outer {
        width: 60vw;
    }
} */
@media(min-width: 800px) and (orientation: landscape){
    .already-signedup {
        margin-top: 90vh;
    }
    .landing-outer {
        margin-bottom: 10vh;
    }
}
/* @media(min-width: 1000px){
    .landing-outer {
        width: 40vw;
    }
} */
/* @media(min-width: 1200px){
    .landing-outer {
        width: 30vw;
    }
} */