.login-outer-div{
    width: 100%;
    padding-bottom: 6vh;
    border-bottom: 1px solid rgba(40, 121, 121, 0.486);
    border-top: 1px solid rgba(40, 121, 121, 0.486);

}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

.login-outer-div label{
    width: 100%;
    margin-top: 8vw;
}

.login-outer-div input{
    background: rgb(255, 247, 244);
    border:1px solid rgb(178, 203, 203);
    border-radius: 5vw;
    color: rgb(0, 101, 101);
    padding: 2vw;
    width:97%;
}

/* @media(min-width: 400px){

}
@media(min-width: 600px){

}
@media(min-width: 800px){

}
@media(min-width: 1000px){

}
@media(min-width: 1200px){

} */