.signup-outer-div{
    width: 100%;
    border-bottom: 1px solid rgba(40, 121, 121, 0.486);
    border-top: 1px solid rgba(40, 121, 121, 0.486);
    padding-top: 5vh;
    height: 50vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.signup-outer-div label{
    width: 100%;
    margin-top: 8%;
}

.signup-outer-div input{
    background: rgb(255, 247, 244);
    border:1px solid rgb(178, 203, 203);
    border-radius: 5vw;
    color: rgb(0, 101, 101);
    padding: 2vw;
    width:94%;
}

.button-div {
    margin-top: 10%;
    background: rgb(255, 247, 244); 
    border-radius: 5vw;
}

.username-error {
    position:absolute;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
    color: rgba(150, 10, 10, 0.895);
}   

.username-error-p {
    position:relative;
}

.password-error {
    position:absolute;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
    color: rgba(150, 10, 10, 0.895);
}

.password-error-p {
    position:relative;
    top:40vh;
}

.signup-error {
    background: rgba(33, 48, 48, 0.897);
    position:fixed;
    width: 100vw;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-error-inner {
    background: rgb(255, 247, 244); 
    padding: 5vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}    

.signup-error p {
    color: brown;
}

.close-signup-error {
    font-size: 1.5rem;
    padding:2vw 4vw;
    border-radius: 10vw;
}



@media(min-width: 800px) and (orientation: landscape){
    .close-signup-error {
        font-size: 1.5rem;
        padding:2vw 3vw;
        border-radius: 5vw;
    }
    
}

/* @media(min-width: 400px){

} */
/* @media(min-width: 600px){
    .signup-outer-div{
        padding-top: 3vh;
        padding-bottom: 5vh;
    }
} */
/* @media(min-width: 800px){

} */
/* @media(min-width: 1000px){

} */
/* @media(min-width: 1200px){
    .form-container label{
        display: flex;
        flex-direction: column;
        width:30vw;
    }

    .signup-outer-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signup-outer-div input{
        padding: 1vh;
        width:96%;
    } 
} */