.story-manager {
  display: flex;
  flex-direction: row;
  height: 80vh;
  justify-content: space-evenly;
  /* background: rgb(246, 227, 227); */
  width: 93%;
}

.library {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2vw;
  margin: 1%;
  border-radius: 1vw;
}

.checked {
  display: flex;
  width: 50%;
  flex-direction: column;
  /* background: lightgreen; */
}

.review-checkboxes {
  display: flex;
  flex-direction: column;
}

.approved {
  border: 2px solid gray;
  width: 100%;
  height: 50%;
  padding: 2vw;
  margin: 2%;
  border-radius: 1vw;
  /* background: lightgreen; */
}

.rejected {
  border: 2px solid gray;
  width: 100%;
  height: 50%;
  padding: 2vw;
  margin: 2%;
  border-radius: 1vw;
  /* background: lightpink; */
}

h3 {
  display: inline;
}

.library-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
