*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Container{
  text-align: center;
  border-bottom: 1px solid lightgray;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.input{
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid black;
  padding: 5px 10px;
}
.strike{
  text-decoration: line-through;
  background: lightgreen;
}
