html {
  background-color: #18516c;
  font-family: helvetica, arial;
}
#root {
  display: flex;
  justify-content: center;
  background-color: #2c6783;
  border-radius: 5px;
}
.app {
  background-color: #6a9cb4;
  width: 80vw;
  height: 90vh;
  margin: 8px 0 8px 0;
  border-radius: 5px;
}
.app h2 {
  background-color: #2c6783;
  margin: 5px 5% 5px 5%;
  border-radius: 5px;
  color: white;
}
.listline {
  display: flex;
  justify-content: center;
}
.listline span {
  flex-grow: 2;
  padding-left: 15%;
}

.delbutton {
  background: none;
  border: none;
  font-size: 80%;
  vertical-align: bottom;
  color: red;
  font-weight: bold;
}

.submitBox {
  text-align: center;
  background-color: #18516c;
  color: white;
  border: none;
}
.submitBox::placeholder {
  color: white;
  opacity: 0.8;
}
