@font-face {
    font-family: 'Hug Me Tight';
    src: url('HugMeTight.woff2') format('woff2'),
        url('HugMeTight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hug Me Tight';
    src: url('HugMeTight.woff2') format('woff2'),
        url('HugMeTight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

