 html, body {
    @media @laptop {
        background: darken(#ba55d3, 10%);
      }
      @media @tablet {
        background: darken(lightblue, 15%);
      }
      @media @phone {
        background: green;
      }
  }


h2 {
 width: 200px;	
  color: darken(#ff6961, 5%);
    &:hover {
      .transition(3s);
			.skew(-20deg, 0);
      color: lighten(navy, 50%);
 

//color: red;
//	 &:hover {
//      color: blue;
//      .transition(2s);
//			.skew(-20deg, 0);
	}
}
 .container {
      width: 880px;
      margin: auto;
  }

