/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
}

.app {
  background-image: url("../img/bg-main.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;

  padding: 15px;
  box-sizing: border-box;

	@media(max-width: 421px) {
			flex-direction: column;
	}

 	.app__search{
		width: 100%;
		max-width: 650px;
		margin: 0 auto;

		@media(max-width: 421px) {
				margin-bottom: 35px;
		}

		h2 {
			font-size: 4.8rem;
			text-align: center;
			align-self: center;

			margin:40px 0 30px 0;
		}
	}
}

.input-group {
	height: 35px;

	.form-control {
		height: 35px;
		width:20%;
		font-size: 1.6rem;
		padding: 0 10px;
	}
}



.to-do-list {
  width: 100%;
  max-width: 850px;
  height: 73vh;

  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("../img/bg-notes.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  border-radius: 20px;

  form {
    width: 60%;
    display: flex;
    justify-content: space-around;
		align-items: center;

		@media(max-width: 421px) {
			width: 100%;
		}

    input {
      font-size: 1.8rem;
      padding: 0 5px;
      &:focus {
        outline: none;
      }

			@media(max-width: 421px) {
					font-size: 1.2rem;
			}
    }

    button {
      height: 45px;
      width: 25%;

      background-color: OrangeRed;
      border: none;
      color: white;
      letter-spacing: 1px;
      font-size: 1.4rem;

      &:hover {
        background-color: white;
        color: OrangeRed;
        font-weight: bolder;
      }

      &:focus {
        outline: none;
      }

			@media(max-width: 421px) {
					font-size: 1.2rem;
					height: 20px;
			}
    }
  }

  .list-container {
    width: 75%;
    margin: 27px 20px 25px 0;
    height: 100%;
		max-height: 430px;


    overflow-x: hidden;
		box-sizing: padding-box;

		@media(max-width: 1024px) {
			max-height: 375px;
		}

    p {
      font-size: 2.2rem;
      border: 1.5px ridge OrangeRed;
			border-radius: 10px 0 10px 0;
      text-align: center;
			word-wrap: break-word;
      width: 50%;
			margin: 10px auto;
			cursor: pointer;
    }

    .true {
      border: none;
      background-color: green;
      color: white;
    }
  }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px black;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: OrangeRed;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff7300;
}
