    .main-container{

        .todo-form{
            width: @width;

            h1{
                margin: 20px 0;
            }
        }
        
        .todo-list-container{

            .task-item{
                margin: 60px 0;

                .not-complete{
                    margin:0;
                    font-weight: bold;
                    cursor: pointer;
                }

                .completed{
                    text-decoration: line-through;
                    color: red;
                }

                .clearCompleted{
                    display: none;
                }
            }
        }
    }