.todo-text {
    border: 1px double black;
		font-size: 16px;
//		.button(25px, 32px, white);
		margin-top: 10px;
     cursor: pointer;
   
       &:hover {
         background: black;
				 color: white;
				.transition(1s);
				.skew(-20deg, 0);
			}
  }

