li {
  color: darken(yellow, 5%); 
		&:hover {
       color: darken(#ffd700, 10%);
			 .transition(3s);					
      }
  }

.completed {
color: lighten(red, 30%);
	 text-decoration: line-through;
	   &:hover {
         color: darken(navy, 5%);
				 .transition(3s);				
			}
}
