.container {
    border: 5px solid red;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


.form-container {
    border: 2px solid blue;
    width: 75%;
    margin: 0 auto;
}

.list {
 display:flex;
 flex-direction: row-reverse;
 align-items: center;
 width: 50%;
 margin: 0 auto;
}