.container {
    border: 5px solid red;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding-bottom: 30px;
}

.controls {
    border: 1px solid orange;
    margin: 10px;
    display: flex;
}


.form-container {
    /* border: 2px solid blue; */
    width: 75%;
    margin: 0 auto;
}

.list {
 display:flex;
 flex-direction: row-reverse;
 align-items: center;
 width: 50%;
 margin: 0 auto;
}

.todo_item {
    border: 2px solid green; 
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todoCheckBox {
    height: 25px;
    width: 25px;
}
