.Todo__item {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}
.Todo__item:hover {
  background-color: #e5e5e5;
}

.Todo__text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 35px);
  color: #222;
  font-size: 20px;
  font-family: Roboto, Sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
  padding: 15px 15px 15px 20px;
}
.Todo__index {
  opacity: 0.5;
  margin-right: 10px;
}


.Todo__delete-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #fff;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: #c92d2d;
  transform: scale(0.75);
}
.Todo__delete-icon:hover {
  background-color: #555;
}


.Todo__item--completed {
  background-color: #fff;
}
.Todo__item--completed .Todo__text {
  color: #555;
}
.Todo__item--completed .Todo__delete-icon {
  display: none;
}