body,div,p,h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    min-width: 400px;
}

.BoxShadow--slateblue {
    box-shadow: 3px 3px 5px slateblue;
}

.BoxShadow--slategray {
    box-shadow: 3px 3px 5px slategray;
}