.completed-item{
    text-decoration: line-through;
}
.done-list-header{
    display:flex;
    justify-content: space-between;
}
.completed-container{
    display: flex;
}
.checkmark{
    height: 24px;
    width: 24px;
}