.root {
    padding: 10px 10%;
    font-family: "Helvetica"
}

.list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.complete-list, .incomplete-list {
    width: 40%;
    height: 400px;
    margin-right: 30px;
    padding: 2%;
    border: 0.7px solid saddlebrown;
    box-shadow: 1px 1px 2px salmon;
    border-radius: 5px;
}

h5 {
    margin-top: 0;
}
