@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2d37;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1543880624-c2c89de9d25e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60");
  background-size: cover;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-align: left;
  color: sienna;
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.item {
  background-color: saddlebrown;
  width: 45%;
  text-align: left;
  border-radius: 10px;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.completed {
  background-color: burlywood;
  text-decoration: line-through;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: #2d2d37;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: burlywood;
  border-bottom: 1px solid saddlebrown;
  border-radius: 10px;
  margin-right: 8px;
}

button {
  background-color: saddlebrown;
  border: 1px solid saddlebrown;
  border-radius: 10px;
  color: burlywood;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: saddlebrown;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}
