@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../Images/coding.jpg');
    background-size: contain;
  }

/* h2,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
} */

  .todo-list {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

.list {
  font-family: sans-serif;
  text-align: center;
  padding: 80px 36px;
  max-width: 665px;
  margin: 0 auto;
  padding-left: 20%;
}

.task {
    text-align: center;
    cursor: pointer;
    background-color: #d17d7c;
    margin: 4px 0;
    padding-left: 8px;
    width: 45%;
  }

.taskcompleted {
    background-color: #d17d7c;
    text-decoration-line: line-through;
    /* cursor: pointer; */
    text-decoration-color: black;
    text-align: center;
    cursor: pointer;
    background-color: #d17d7c;
    margin: 4px 0;
    padding-left: 8px;
    width: 45%;
        
}

form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

form > input {
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: #e64944;
  border-bottom: 1px solid #e64944;
  margin-right: 8px;
  }

  button {
    background-color: #EF8684;
    border: 1px solid #EF8684;
    color: white;
    font-size: 16px;
  }
  
  input::placeholder {
    color: #e64944;
    opacity: 1;
  }
  
  .clear-button {
    margin-top: 16px;
  }

  .todoform {
    display: flex;
    justify-content: center;
  }

  .button {
    margin-left: 39%;
    width: 20%;
  }