body {
  margin: 0 auto;
}
.item {
  background-color: rgb(142, 192, 144);
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.purchased {
  background-color: #72b875;
}

.toDoList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
input[type='text'] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
