@import url("https://fonts.googleapis.com/css?family=Pacifico");

.todo-wrapper {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0ffff;
  border-radius: 20px;
  font-family: "Pacifico";
}
button {
  background: white;
  width: 30px;
  height: 30px;
  border: 2px solid teal;
  border-radius: 50%;
  margin-right: 30px;
  color: teal;
}
p {
  width: 70%;
  text-align: left;
  font-size: 20px;
  color: teal;
}
