.todo {
    background-color: #e64944;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    cursor: pointer;
}

.todo.completed {
    background-color: #d17d7c;
    text-decoration: line-through;
}

.clear-button {
    height: 50px;
    width: 150px;
    background-color: crimson;
    color: white;
}


