input {
	margin: 0;
	height: 40px;
	width: 350px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 20px;
	background-color: #e7e7e7;
	border: none;
	outline: none;
	font-size: 20px;
	color: #666;
}

ul {
	margin: 0;
	padding: 0;
}

li {
  list-style: none;	
  height: 40px;
  padding-left: 20px;
	line-height: 40px;
	background-color: #e7e7e7;
	color: #666;
}

li:nth-child(2n) {
	background-color: #fff;
}