
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
    
    background-image: url("https://cdn.pixabay.com/photo/2017/04/25/22/28/despaired-2261021_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   font-size: 2rem
   
}



  
  .todo {
    background-color: #e64944;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    cursor: pointer;
  }



h1, h3{
    text-align: center;
}

h1 {
    font-size: 7rem;
}
h3 {
    font-size: 2rem;
}
    button {
        background-color:grey;
       
        color: white;
        font-size: 16px;
        padding: 6px 14px;
        margin: 5px;
      }


  p {
    color:white;
}

.App {
    font-family: sans-serif;
    text-align: center;
    padding: 0 36px;
    max-width: 35rem;
    margin: 0 auto;
  }


.item.completed{
    text-decoration: line-through;
    color: red;
} 

form > input {





    background-color: #2d2d37;
    border: 0;
    padding: 6px 0;
    font-size: 1rem;
    width: 240px;
    outline: 0;
    color: white;
    /* border-bottom: 1px solid black; */
  
  }

  .task-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
  }