form {
    /* border: 4px solid black; */
    text-align: center;
    margin: 20px;
}
input {
    box-shadow: 0 10px 6px -6px rgba(119, 119, 119, .2);
    background-color: #89bdd3;
    /* box-shadow: 0 10px 6px -6px #777;
    border-radius: 4px; */
    font-size: 1.8em;
    width: 60%;
    padding: 15px;
    margin-bottom: 20px;
    
    box-sizing: border-box;
    border: 4px solid #9ad3de;
    -webkit-transition: 0.8s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 9px solid #89bdd3;
    background-color: #9ad3de;
    color: #e3e3e3;
}
input::placeholder {
    color: #e3e3e3;
    text-align: center;
   
  }

  .anim2-appear {
    opacity: 0.01;
  }
   
  .anim2-appear.anim-appear-active{
    opacity: 2;
    transition: opacity .6s ease-in-out;
  }