* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button {
  outline: none;
}

body {
  width: 60%;
  margin: 3rem auto;
  text-transform: capitalize;
  padding: 1rem 0;
}

h2 {
  text-align: center;
  margin: 0 0 2rem;
}

// form starts here
.form {
  width: 30%;
  margin: 0 auto 5rem;

  input {
    width: 100%;
    display: block;
    padding: 0.3rem;
    font-size: 1.1rem;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 5px;
  }

  button {
    display: block;
    margin: 1rem auto;
    font-size: 1rem;
    padding: 0.3rem 2rem;
    border-radius: 5px;
  }
}

// form ends here

.todo-list {
  .clear-task {
    display: block;
    margin: 2rem auto 0;
    font-size: 1rem;
    padding: 0.3rem 2rem;
    border-radius: 5px;
    text-transform: capitalize;
  }

  .todo-container {
    width: 50%;
    margin: auto;
    .task {
      cursor: pointer;
      margin: 0.4rem 0;
      padding: 0.5rem 0.3rem;
      border: 1px solid rgb(184, 178, 178);
      border-radius: 5px;
      font-size: 1.1rem;
    }
  }
}

.completed {
  text-decoration: line-through;
  color: grey;
  background: #f4f4f4;
}
