*,
html,
body {
  box-sizing: border-box;
}

.container {
  padding: 40px 10%;
  width: 100%;
}

.todoForm {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#input {
  width: 50vw;
  padding: 4px 20px;
}

.todoCard {
  border-left: 4px purple solid;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 10px #ececec;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  transform: scale(1);
  transition: transform 100ms ease-out;
}

.todoCard h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

}

.todoCard:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 100ms ease-out;
}

.completed {
  opacity: 0.38;
}