* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1rem;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #ececec;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main-container {
  font-color: #24252a;
}
.main-container .todo-form {
  max-width: 900px;
  width: 100%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}
.main-container .todo-form .form-heading {
  width: 100%;
  margin: 10px 0;
  font-size: 3rem;
}
.main-container .todo-form .todo-input {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  font-size: 2rem;
  border: 2px solid #ccc;
  border-radius: 20px;
}
.main-container .todo-form .todo-input::placeholder {
  color: #bbb;
}
.main-container .todo-form .todo-input:focus {
  outline: none;
}
.main-container .todo-form .formBtn {
  padding: 10px 50px;
  margin-right: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 0px solid #ccc;
  border-radius: 10px;
}
.main-container .todo-form .formBtn[type="submit"] {
  background-color: #1e824c;
  outline: none;
}
.main-container .todo-form .formBtn[type="submit"]:hover {
  background-color: #00b16a;
}
.main-container .todo-form .formBtn[type="reset"] {
  background-color: #96281b;
  outline: none;
}
.main-container .todo-form .formBtn[type="reset"]:hover {
  background-color: #cf000f;
}
.main-container .todo-list-container {
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
}
.main-container .todo-list-container .title {
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
  padding: 25px;
  margin: 0 0 20px 0;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
}
.main-container .todo-list-container .title .title-header {
  font-size: 2rem;
  margin: 20px 0;
  font-weight: bold;
}
.main-container .todo-list-container .title .title-txt {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.main-container .todo-list-container .task-item {
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
  padding: 25px;
  margin: 0 0 20px 0;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
}
.main-container .todo-list-container .task-item .task-header {
  width: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main-container .todo-list-container .task-item .task-header .task-stamp {
  width: 100%;
  font-size: 1.3rem;
  text-align: right;
  color: #ccc;
}
.main-container .todo-list-container .task-item .task-header-completed {
  width: 100%;
  font-size: 3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: line-through;
  color: red;
}
.main-container .todo-list-container .task-item .task-header-completed .task-stamp {
  width: 100%;
  font-size: 1.3rem;
  text-align: right;
  color: #ccc;
}
.main-container .todo-list-container .task-item .task-txt {
  margin: 30px 0;
  padding: 10px 50px;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.main-container .todo-list-container .task-item .line {
  width: 100%;
}
.main-container .todo-list-container .task-item .clearCompleted {
  display: none;
}
