body {
    margin: 5% 5%;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    margin: 5% 5%;
}

form {
    margin: 60% 5% 5% 5%;
}

input {
    display: flex;
    width: 500px;
}

button {
    margin-left: 100px;
}

.completed {
    background-Color: white;
    text-Decoration: line-through
}

.notCompleted {
    background-color: peachpuff;
}

.emptyForm {
    font-size: 1em;
    color: gray;
}

.nonEmptyForm {
    font-size: 1em;
    color: black;
}




