.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar form {
    margin: 20px 0;
}

.search-bar form input {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #5D484D;
    padding: 5px 100px 5px 5px;
}

.search-bar form ::placeholder {
    color: #5D484D;
}