@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #2d2d37; */
  /* background: #7932FF; */
  /* background: #6200FA; */
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  /* color: white; */
  font-family: 'Roboto', sans-serif;
}

.App {
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  background: #6200FA;
  /* border: 2px solid red; */
}

.Banner {
  color: white;
  padding: 36px;
  font-size: 2.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.TodoCard {
  background: white;
  padding: 100px;
  border-radius: 15px 15px 0 0;
}

.todo-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  /* margin: 0 auto; */
}

.item {
  /* background-color: #e64944; */
  background: rgba(0, 0, 0, 0.08);
  color: black;
  width: 100%;
  text-align: left;
  margin: 4px 0;
  padding-left: 40px;
  cursor: pointer;
}

.item.completed {
  /* background-color: #d17d7c; */
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-decoration: line-through;
}

.addTodo {
  /* border: 2px solid red; */
  background: white;
  /* border-radius: 0 0 15px 15px; */
  padding: 20px;
}

form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  /* background-color: #2d2d37;
  border: 0; */
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  /* border-bottom: 1px solid #e64944; */
  margin-right: 8px;
}

button {
  /* background-color: #e64944; */
  background-color: #6200FA;
  opacity: 0.8;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  /* padding: 6px 14px; */
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input::placeholder {
  /* color: #e64944; */
  opacity: 1;
}

.clear-btn {
  /* margin-top: 16px; */
}
