html{
  font-size:62.5%;
  box-sizing: border-box;
  background: #F6F6F6;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  max-width:520px;
  width:100%;
  
}



.todo-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content:center;
  align-items: center;
  background-color:#0C1B33;
  height: auto;
  padding: 15px;

}

.todo-container h1{
  font-size: 2.4rem;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom:10px;
  color:#fff;
  align-self: flex-start;
}

.todo{
  width: 95%;
  background-color: #03B5AA;
  margin-top: 2px;
  padding: 15px;
  color:/*#7A306C*/ #fff;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border:1px dotted darkgray;
  text-transform: capitalize;
  
}
.todo:last-child{
  margin-bottom:20px;
}

.display-todo{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.todo-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin-bottom:20px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-input{
  display: flex;
  flex-direction: column;
  width: 89%;
  justify-content: center;
  align-items: center;
}

.form-input input[type=text]{
  background-color:#fff;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #434343;
  font-size:0.85rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.form-actions{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-actions .btn{
  width: 60px;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
  padding: 8px;
  color: #434343;
  text-transform: capitalize;
  font-size: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  letter-spacing: 1px;
  /* border-radius: 4px; */
}
.form-actions .btn:hover{
  background-color: #03B5AA;
  color:white;
}

.text-strike{
  text-decoration: line-through;
  color:green;
}

.search-form{
  display: flex;
  flex-direction: row;
  height: auto;
}

.search-form-input input[type=text]{
  background-color: #fff;
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-flex;
  border: 1px solid #ccc;
  color: #434343;
  font-size: 0.78rem;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 1px;
  position: relative;
  top: -5px;
  left: 32px;
}

.search-btn{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(218, 198, 130);
  position: relative;
  top: 4px;
  right: 10px;
  padding: 3px 10px;
  height: 21px;
  cursor: pointer;
}

.search-btn:hover{
  background-color: #03B5AA;
  color:white;
}

.search-btn p {
  font-size:0.75rem;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  color:white;
}

.search-btn p:hover{
  color:white;
}

.notice-todo{
  width: 90%;
  margin-top: 2px;
  padding: 15px;
  color:#9C9C9C;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border:2px dashed #9C9C9C;
  text-transform: capitalize;
  text-align:center;
  margin-bottom:20px;
}

.footnote{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}

.footnote p{
  margin-top: 10px;
  font-size: 0.65rem;
  letter-spacing: 1px;
  color: #dad5d5;
  font-family: Arial, Helvetica, sans-serif;
}