

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    color: white;
    margin: 1% auto;
    max-width: 1000px;
    font-family:    Verdana, Geneva, Tahoma, sans-serif;
    height: -webkit-fill-available;
}

.header {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 5% auto;
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
}

input {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: -webkit-fill-available;
    align-items: center;
    font-family: inherit;
}

.track-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    padding: 1%;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    margin: 10% auto;
}

.app-info {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.app-credit {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.task-list {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    padding: 2%;
    width: 50%;
    
}

.todo {
    display: flex;
    background-color: coral;
    margin: 1% auto;
    width: 100%;
    align-items: center;
    font-weight: 800;
    font-size: 1.2rem;
}

.clear-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    padding: 1%;
    background-color: dodgerblue;
    color: white;
    margin: 5% auto;
}

p {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1% auto;
    width: 100%;
}

.todo.completed {
    background-color: '';
    text-decoration: line-through;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}