.form{
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    border-radius: 5px; 
    max-height: 115px;
    
    
}
.form input{
    color: black;
    border: 2px solid #0be7ff;
}
.form button{
    background: #57585e;
    color: whitesmoke;
    border: 2px solid #0be7ff;
    
}
.form button:hover{
    background: whitesmoke;
    color: #0be7ff;
}