.jsx-TodoList {
  padding-left: 0;
  margin-bottom: 0;
}

.jsx-Todo {
  cursor: pointer;
  list-style: none;
}

.jsx-Todo--completed {
  text-decoration: line-through;
}

.jsx-TodoForm input {
  outline: solid 3px #BEDDFD;
}

.jsx-TodoForm input:focus {
  outline: solid 3px #BEDDFD;
}

.jsx-TodoForm button {
  background-color: #FFF;
  border: solid #DDDDDD 1px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.jsx-TodoForm button:active {
  background-color: #398ade;
}

*::selection {
  background-color: #BEDDFD;
}
