.complete {
    text-decoration: line-through;
}

.form-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.todo-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
}

.addInput {
    text-align: center;
    margin: 10px 0;
    width: 200px;
    height: 40px;
}

.addButton {
    padding: 8px 20px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid forestgreen;
    color: forestgreen;
    cursor: pointer;
    margin: 10px 0;
}

.clearButton {
    padding: 8px 20px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid firebrick;
    color: firebrick;
    cursor: pointer;
    margin: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    width: 100%; 
    justify-content: center;
}

.header img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.list-container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
}