h1 {
	padding: 1px 50px;
	margin: 20px 0;
}

.header {
	margin: 10px;
	border: 5px solid black;
	border-radius: 50px;
	background: white;
	color: black;
	display: flex;
	justify-content: center;
	align-self: center;
	font-size: 24px;
	position: absolute;
	top: 0;
}

input {
	border: 1px solid white;
	border-bottom: 1px solid black;
	font-weight: bold;
	display: flex;
	text-align: center;
	justify-content: center;
	padding: 5px;
	font-size: 16px;
	height: 5px;
}

button {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 3px gray;
	padding: 5px 0;
	width: 60%;
	margin: auto;
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

button:hover {
	background: #14d845;
	font-weight: bold;
}

.todoForm {
	height: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	position: absolute;
	bottom: 100px;
}

.todoList {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	margin-left: 10px;
}

.task {
	padding: 0 20px;
	background: white;
	border: 1px solid gray;
	color: black;
	margin: 25px;
	text-align: center;
}

.task.completed {
	background: red;
	text-decoration: line-through;
}

p {
	font-size: 16px;
	color: black;
	border-bottom: 1px solid black;
}
