html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    }
    
    body {
        border: 10px solid #2E4052;
        height: auto;
        width: 60%;
        border-radius: 7%;
        padding: 6%;
    
    }
    
      form {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      form > input {
        background-color: #BDD9BF;
        padding: 10px;
        font-size: 1.3rem;
        width: 60%;
        outline: 0;
        color: #2E4052;
        margin-right: 8px;
        border-radius: 5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    
      button {
          color: #412234;
          background-color: #fdca40;
          border-radius: 10%;
          padding: 15px;
          margin: 2px;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    
      li {
          font-size: 1.3rem;
          color: #412234;
          padding-bottom: 15px;
    
    
      }
    
      p {
          color: #412234;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
    
    