@font-face {
    font-family: gotham-light;
    src: url('./Gotham-Font/Gotham-Light.otf');
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: gotham-light;
}

.app {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 3rem;
        padding-left: 50px;
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        margin: 0 50px;
        .task {
            height: 40px;
            font-size: 1.6rem;
            cursor: pointer;
            position: relative;
            .input {
                font-size: 1.6rem;
                font-family: gotham-light;
                border: none;
                color: #a0011f;
                text-decoration: underline;
                &:focus {
                    outline: none;
                }
            }
            .none {
                display: none;
            }
            .view {
                display: inline-block;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: -2px;
                    background: #a0011f;
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: .25s;
                }
                &:hover:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
                &:hover {
                    color: #a0011f;
                }
            }
            .checkbox {
                height: 20px;
                width: 20px;
                position: relative;
                top: 5px;
                right:10px;
            }
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        .input {
            font-size: 1.6rem;
            height: 30px;
            width: 200px;
            margin-left: 100px;
            padding-left: 20px;
            font-family: gotham-light;
            border: none;
            color: #a0011f;
            &:focus {
                outline: none;
                text-decoration: underline;
            }
        }
        .hide {
            display: none;
        }
        .button {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            margin-left: 100px;
            font-size: 1.6rem;
            font-family: gotham-light;
            width: 200px;
            height: 30px;
            border: 1px solid black;
            outline: 0;
            cursor: pointer;
            transition-duration: 0.2s;
            &:hover {
                color: white;
                background-color: black;
            }
        }
    }
}