* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.container {
    background: khaki;
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border: 3px solid silver;
} 

h1 {
    text-decoration: underline;
    padding-top: 2%;
}

h1, 
.to-do-list {
    align-self: center;
}

.to-do-form {
    display: flex;
    flex-direction: column;
}

.to-do-input {
    font-size: 2rem;
    text-align: center;
    height: 50px;
    border: none;
}

.to-do-form button {
    height: 50px;
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-top: 1px solid gray;
}

.to-do-form button:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.to-do-form button:hover {
    background: dodgerblue;
    cursor: pointer;
}

.to-do-list {
    list-style-type: none;
}

.completed {
    text-decoration: line-through;
}