@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Acme|Lilita+One');


.container-wrapper {   
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background-color: lightblue;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.21);
    max-width: 400px;
}

.container-header{
    font-family: 'Open Sans', sans-serif;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.container-header h2 {
    font-size: 36px;
    text-align: center;
    display: inline-block;
    margin: 0 0 0 10px;
    font-family: 'Acme', sans-serif;}

.container img {
    width: 40px;
    height: 40px;
}

.form-header {
    margin-bottom: 5px;
    color: rgb(104, 104, 104);
    /* display: none; */
} 

.form-body {
    font-family: 'Open Sans', sans-serif;
    padding: 0 20px 20px 20px;
}

form {
    /* border: 1px solid red; */
}

input {
    /* border: 1px solid blue; */
    height: 25px;
}

button {
    /* font-family: 'Open Sans', sans-serif; */
    padding: 5px 15px;
    /* border: 1px solid white; */
    background-color: rgb(49, 49, 49);
    color: white;
    margin-left: 3px;
    border-radius: 5px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

li {
    list-style-type: none;
    background-color: white;
    padding: 20px 10px;
    margin-top:5px;
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.48);
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.48);
    animation-duration: 0.5s;
    animation-name: fadeIn;
    border-radius: 5px;
}

li:hover {
    /* background-color: rgb(238, 238, 238); */
    background-color: rgb(217, 226, 230);

}