@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap");
/* <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet"> */

/* font-family: 'Sawarabi Mincho', sans-serif; */

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.App {
    font-family: Sawarabi Mincho;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 25vh;
    background: #000000;
    color: white;
}

h2{
    font-size: 2rem;
    margin-right: 20px;
}

.todo-list{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.task{    
    background-color: none;
    border-bottom: .5px solid rgba(32, 32, 32, 0.815);
    width: 45%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.25rem;
}

.taskcompleted{
    background-color: none;
    border-bottom: .5px solid rgba(32, 32, 32, 0.815);
    width: 45%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: line-through;
    color: #0000008f;
}

button {
    background: #b4c517;
    border: none;
    font-size: 1.25rem;
    padding: 7px 15px;
    margin: 5px 15px;
    color: #000;
    font-family: Sawarabi Mincho;
}
button:hover{
    transform: scale(1.025);
}

.clear-button{
    margin-top: 30px;
}

input{
    height: 1.75rem;
    width: 70%;
    margin: 0 auto;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.25rem;
}