html{
    font-size:62.5%;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.app-container{
    max-width: 1000px;
    margin:0 auto;
    min-height: 500px;
    display:flex;

}

.smallbtn{
    width: 100px;
    height:25px;
    border-radius: 3px;
    background-color: #6B818C;
    color:white;
}