$break-medium: 860px;
$break-small: 740px;
$body-bg: transparent;

html {
    width: 100%;
    background: url(./galaxy.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.app {
    max-width: 70%;
    margin: 5% 15%;
    padding: 50px 0;
    background-color: #2C2D36;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Indie Flower', cursive;

    

    .header {
        h1 {
            font-size: 2.5rem;
            margin: 0;
        }
    }
    
    .todo-list {
        max-width: 500px;
        padding: 0 50px;

        p{ 
            padding: 0 20px;
            
        }
    }

    button {
        font-family: 'Indie Flower', cursive;
        border-radius: 6px;
        background-color: purple;
        color: white; 
        width: 125px;
        height: 50px;
        margin: 0 10px;
        font-size: 1rem;

        @media screen and (max-width: $break-medium){
            width: 70%;
            margin-left: 15%;
        }

        @media screen and (max-width: $break-small){
            width:50%;
            margin-left: 25%;
    }
}

    .item {
        font-size: 1.5rem;
        color: white;
        margin: 0;
        background-color: purple;
        text-align: center;
    }
    .itemcompleted {
        font-size: 1.5rem;
        color: white;
        background-color: plum;
        margin: 0;
        text-decoration: line-through;
    }

    .form {
        width: 600px;
        display: flex;

        @media screen and (max-width: $break-medium){
            flex-direction: column;
        }

        input {
            background-color: #2C2D36;
            border: 0;
            margin-left: 10px;
            padding: 10px 10;
            font-size: 1.5rem;
            width: 280px;
            outline: 0;
            color: white;
            border-bottom: 2px solid purple; 

            @media screen and (max-width: $break-medium){
                width: 80%;
                margin-left: 10%;
                margin-bottom: 5%;
            }
            @media screen and (max-width: $break-small){
                width: 50%;
                margin-left: 25%;
        }
        }

    }
}