body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  font-family: 'Calligraffitti', cursive;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
