.appContainer { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px; 
    border: 30px inset grey; 
    margin: 0 auto; 
    
} 


ul {
    list-style-type: none;
}

.completed {
    text-decoration: line-through;
}
.unCompleted {
    text-decoration: none; 
}