.App {
    text-align: center;
    }
    
    .todo-wrapper {
      margin: 20px auto 20px auto;
      width: 500px;
      min-height: 600px;
      border: 5px solid turquoise;
      padding: 20px
    }