.app {
	margin: 0 auto;
}

.notepad {
	border: 1px solid black;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-image: url('https://i.stack.imgur.com/yJedC.jpg');
	margin: 0 100px;
}

.topSection {
	display: flex;
	flex-direction: column;
	align-self: center;
	background: white;
	margin: 50px;
	padding: 50px;
	height: 200px;
	width: 700px;
	border: 1px solid black;
	border-radius: 20px;
	position: relative;
}
