.todo-list {
    background: #333;
    width: 500px;
    margin: auto;
    box-shadow: 0 4px 0px #333;
    border-radius: 5px;
  }

.header {
padding: 5px 10px;
text-align: center;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #222;
border-radius: 15px 15px 0 0;
border-bottom: solid 2px #444;
}

.header h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: bold;
  }


