.completed {
	color: white;
	text-decoration: line-through;
	text-decoration: ;
}
.todoApp {
	max-width: 600px;
	margin: 50px auto;
	border: 1px solid black;
	border-radius: 4px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e0dfd5;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
form {
	display: flex;
	margin-bottom: 15px;
	background-color: #313638;
	color: white;
	padding: 15px;
	width: 100%;
}

h1 {
	width: 100%;
	text-align: center;
}
