@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Shadows+Into+Light|Ubuntu');
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.appContainer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  border: 0.2rem inset dodgerblue;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 5rem;
}
