h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    padding: 2rem 0 1rem 0;
    margin: 0 auto;
    color: rgb(1, 1, 102);
    letter-spacing: 2px;
    font-weight: 400;
    border-bottom: 2px dotted rgb(204, 204, 255);
    margin-bottom: 0;

}
html{
    background-size: 100% 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-image: url(https://image.freepik.com/free-vector/colorful-watercolor-texture_1048-3718.jpg?1)
}
.body{
    margin: 1rem;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0px 0px 30px rgb(235, 234, 234);
    background-color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    position: fixed;
    height: 85%;
    width: 90%;
}

.menu{
    width: 15%;
    height: 100%;
}

.notepad{
    width: 100%;
    margin: 0 auto;
    height: 500px;
    background-color: #F8ECC2;
    border-left:2px solid rgb(235, 220, 168);
    border-right:2px solid rgb(235, 220, 168);
    border-bottom:2px solid rgb(235, 220, 168);
    margin-top: 0rem;
    padding-top: 0.1rem;
}

.redline{
    position: absolute;
    width: 1px;
    height: 500px; 
    background-color: red;
    margin-left: 50px;
    margin-top: -0.1rem;
}

.content{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

