@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(27deg, rgba(7,0,131,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 20px;
}

.todo-list-cont {
  background: #ecf0f1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 0px;
  overflow: hidden;
  position: relative;
}

.search-btn {
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  cursor: pointer;
}

.todo-list-cont .title {
  margin: 0 0 0px 0;
  padding: 10px 0 10px 0;
  background: #2ecc71;
  color: white;
  font-weight: normal;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-top: 12px solid #2ecc71;
  margin: 0 auto;
  /* position: absolute;
  top: 63px;
  left: 46%; */
}

.todo-list-cont .main-cont {
  padding: 10px;
}