body {
    padding: 50px;
    background-color: #66CCFF;
    font-family: sans-serif;
  }
  #root {
    display: flex;
    justify-content: center;
  }

.unorderedList {
  list-style: none;
  padding-left: 0;
  width: 250px;
} 
li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul  {
  padding: 0;
}

.toggle-content{
  display:none;

}
.is-visible{
  display:flex;
}

