body {
    background-color: whitesmoke;
    font-family: 'Pacifico', cursive;
  }
  
  .todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    width: 50%;
    border: 1px solid #efefef;
    padding: 30px;
  }
  
  .todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
  }

  input{
    font-family: 'Pacifico', cursive;
  }
  button{
    font-family: 'Pacifico', cursive;
  }
  
  input[type=checkbox] {
    margin-right: 10px;
    font-size: 30px;
  }

