// global styles go in here. 
// When you start writing styles for your individual components you'll have to start importing them
body {
	background: purple;
}
input[type=checkbox]:checked {
	color: purple;
	background-color:purple;
	border: 10px solid purple;
}