* {
    box-sizing: border-box;
}

#root {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
    min-height: 100%;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000
}