body {
    background-color: #f5f5f5;
    padding: 50px;
}

#root {
    display: flex;
    justify-content: center;
}
.title {
    display: flex;
    justify-content: center;
}
.listItem-none {
    text-decoration: none;
    margin-bottom: 20px
}
.listItem {
    text-decoration: line-through;
    margin-bottom: 20px
}

.todoList {
    display: flex;
    justify-content: center;
    padding: 5px;
}

