.flex-center-mix() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Encode Sans Expanded, Ariel;
}

.container {
    font-size: 1rem;
    width: 100%;
    flex-direction: column;
    .flex-center-mix();

    .title {
        text-align: center;
        width: 10%;
        margin-bottom: 50px;
    }
    .todolist-container {
        flex-direction: column;
        .flex-center-mix();
        width: 80%;

        .form {
            width: 100%;
            flex-direction: row;
            .flex-center-mix();
            margin: 10px;

            label {
                .flex-center-mix();
                textarea {
                    height: 70px;
                    width: 300px;
                    margin: 15px;
                    box-sizing: border-box;
                    border-style: 1px double black;
                    border-radius: 5px;
                }
            }

        }
        .todo-item-container{
            .todo-item {
                .flex-center-mix();
                width: 100%;

                .todo-entry {
                    width: 80%;
                    padding: 10% 30%;
                }

                button {
                    margin-left: 30px;
                    width: 100px;
                }
            }
            .break {
                width: 100%;
                border-bottom: 1px solid black;
            }
        }

    }
}

.buttons {
    height: 30px;
    width: 70px;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}