@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
    background-image: url(./img/wallpaper.wiki-Desktop-HD-Chalkboard-Pictures-PIC-WPD006395.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Walter Turncoat';
}