@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d4d4fc;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-align: left;
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.item {
  background-color: #bda641;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item.completed {
  background-color: #bda641;
  text-decoration: line-through;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: #c3c3df;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid #4848eb;
  margin-right: 8px;
}

button {
  background-color: #bda641;
  border: 1px solid #d1b538;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: #e64944;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}
