@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

#root {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, div, p, span {
  color: #000000;
  font-family: "Roboto", sans-serif;
}

.App {
  background-image: url("./assets/background1.png");
  background-size: cover;
  text-align: center;
  background-color: rgb(80, 72, 72);
  width: 70%;
  height: 85%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  border: 2px solid #000000;
  border-radius: 10px;
}

h1 {
  color: #54eff5;
}

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto;
}

.item {
  background-color: #31a1ce;
  color: #000000;
  width: 45%;
  text-align: left;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
}

.item-completed {
  text-align: left;
  margin: 4px 0;
  width: 45%;
  color: #ffffff;
  background-color: #14397e7c;
  text-decoration: line-through;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: #000000;
}

form>input {
  border: 0;
  font-size: 1rem;
  height: auto;
  outline: 0;
  padding: 0.3rem;
  border-bottom: 1px solid #7e28af;
}

button {
  background-color: #e64944;
  border: 2px solid #cfc6c6;
  color: white;
  font-size: 16px;
  padding: 1rem 3rem;
  margin-top: 2rem;
}

input::placeholder {
  color: #443b3b;
  opacity: 1;
}

.clear-button {
  margin-top: 16px;
}

@media screen and (max-width: 550px) {
  .App {
    background-image: url("./assets/background1.png");
    background-size: cover;
    text-align: center;
    background-color: rgb(80, 72, 72);
    width: 70%;
    height: 85%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    border: 2px solid #000000;
    border-radius: 10px;
  }
  h1 {
    color: #54eff5;
  }
  .header {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .todo-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
  }
  .item {
    background-color: #31a1ce;
    color: #000000;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding-left: 8px;
    cursor: pointer;
  }
  .item-completed {
    text-align: left;
    margin: 4px 0;
    width: 45%;
    color: #ffffff;
    background-color: #14397e7c;
    text-decoration: line-through;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: #000000;
  }
  form>input {
    border: 0;
    font-size: 1rem;
    height: auto;
    outline: 0;
    padding: 0.3rem;
    border-bottom: 1px solid #7e28af;
  }
  button {
    background-color: #e64944;
    border: 2px solid #cfc6c6;
    color: white;
    font-size: 16px;
    padding: 1rem 3rem;
    margin-top: 2rem;
  }
  input::placeholder {
    color: #443b3b;
    opacity: 1;
  }
  .clear-button {
    margin-top: 16px;
  }
}