/* @import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap"); */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* font-family: "Shadows Into Light Two", cursive; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  /* background-image: url("https://image.freepik.com/free-photo/notebook-lined-paper-background_35652-292.jpg"); */
  background-color: antiquewhite;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
h1 {
  margin-top: 50px;
}

.todo.completed {
  background-color: lightpink;
  text-decoration: line-through;
}

p {
  font-size: 20px;
}

button {
  background-color: #e64444;
  border: 1px solid #e64488;
  color: white;
  font-size: 16px;
  border-radius: 2px;
  padding: 6px 14px;
  margin: 5px;
}
