@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #464159;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  text-align: left;
  margin-left: 30%;
}

form > input {
  background-color : #464159;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid white;
  margin-right: 8px;
}

button {
  background-color: #6c7b95;
  border: 2px solid #C7F0DB;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

.id.completed {
  color: black;
  text-decoration: line-through;
}