@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}


body {
    background-color: rgb(54, 53, 53);
    display: flex;
justify-content: center;
align-content: center;

}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.App {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(107, 100, 100);
   width: 800px;
height: auto;
border: 2px solid #000000;
}

.header {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.todo-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.item {
    background-color: #e64944;
    width: 45%;
    text-align: left;
    margin: 4px 0;
    padding: 8px;
    cursor: pointer;
}

.item.completed {
    background-color: #d17d7c;
    text-decoration: line-through;
}

form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

form > input {
  background-color: #2d2d37;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid #e64944;
  margin-right: 8px;
}

button {
  background-color: #e64944;
  border: 1px solid #e64944;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: #e64944;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}