@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  
  background-image: url("https://images.unsplash.com/photo-1532916697008-5bc24f95592a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=981&q=80");
  width:100%;

}

/* h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: white;
  font-family: 'Roboto', sans-serif;
  
} */

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  max-width: 665px;
  margin: 0 auto;
  background-image: url("https://pbs.twimg.com/media/DlCit9XWwAAsnxm.jpg");
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  font-weight: bolder;
}
h1 {
  text-align: left;
}

.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.task {
  background-color: peachpuff;
  width: 35%;
  text-align: center;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
  margin-left: 6rem;
  box-shadow:inset 0px 1px 0px 0px #fac8c3;
	background:linear-gradient(to bottom, #fc8d83 5%, #faaaa5 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:21px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.task.completed {
  background-color: #000000;
  text-decoration: line-through;
  
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
form > input {
  background-color: #2d2d37;
  border: 0;
  padding: 6px 0;
  font-size: 1rem;
  width: 240px;
  outline: 0;
  color: white;
  border-bottom: 1px solid #e64944;
  margin-right: 8px;

}

button {
  background-color: #e64944;
  border: 1px solid #e64944;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
}

input::placeholder {
  color: #ed817d;
  opacity: 5;
}

.clear-btn {
  margin-top: 6rempx;
  background-color: teal;
  color:peachpuff;
  align-items: center;

}
p{
  color:purple;
  font-family: "Courier New", Courier, monospace;

}
button {
  margin-top: 16px;
  background-color: teal;
  color:peachpuff;
  box-shadow: 3px 4px 0px 0px #8a2a21;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	font-family:Georgia;
	font-size:21px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;

}
h1{
  font-family: "Courier New", Courier, monospace;
  color:white;
  font-weight: bold;
  font-size: 2rem;
}