$black: #123;
$white: #fed;
$itm-bg: rgb(4, 119, 50);
$btn-bg: #446ae6;
$SSPro: 'Source Sans Pro', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');